@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* fonts */
  --body-font: "Apfel Grotesk";
  --heading-font: "Gilroy";
  /* Desktop */

  --desktop-bold-header: 60px;

  --desktop-body-16pt: 16px;
  --desktop-body-18pt: 18px;
  --desktop-body-20pt: 20px;

  --desktop-heading1: 32px;
  --desktop-heading2: 30px;
  --desktop-heading3: 24px;

  /* Tablet */

  --tablet-bold-header: 32px;

  --tablet-body-15pt: 15px;
  --tablet-body-17pt: 17px;
  --tablet-body-19pt: 19px;

  --tablet-heading1: 24px;
  --tablet-heading2: 20px;
  --tablet-heading3: 18px;

  /* Mobile */

  --mobile-bold-header: 24px;

  --tablet-body-10pt: 10px;
  --tablet-body-12pt: 12px;
  --tablet-body-14pt: 14px;

  --mobile-body-10pt: 10px;
  --mobile-body-12pt: 12px;
  --mobile-body-16pt: 16px;

  --tablet-heading1: 20px;
  --tablet-heading2: 18px;
  --tablet-heading3: 16px;

  --mobile-heading1: 20px;
  --mobile-heading2: 24px;
  --mobile-heading3: 20px;

  /* colours */

  --black: #1e1e1e;
  --dark-blue: #27117b;
  --blue: #413eea;
  --red: #ff364d;
  --gray: #d9d9d9;
  --white: #fafafa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: "Apfel Grotesk";
  src: url("/fonts/ApfelGrotezk-Regular.otf");
}

@font-face {
  font-family: "Apfel Grotesk Mittel";
  src: url("/fonts/ApfelGrotezk-Mittel.otf");
}

@font-face {
  font-family: "Apfel Grotesk Fett";
  src: url("/fonts/ApfelGrotezk-Fett.otf");
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-ExtraBold.otf");
}

@font-face {
  font-family: "Gilroy Light";
  src: url("/fonts/Gilroy-Light.otf");
}

select#lang {
  font-family: var(--body-font);
  font-size: var(--desktop-body-20pt);
  color: var(--gray);
  padding: 17px;
  background-color: #fbfbfb;
  border-bottom: 1px solid var(--dark-blue);
  width: 450px;
}
