.main {
  background: url("/images/background-image.jpg"), 0% / cover no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.page_content {
  /* display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 30px;
  padding: 11px;
  width: 90%;
  height: 55rem;
  margin-left: 6.5rem;
  margin-top: 5rem; */
}

.loadingAnimation {
  background: url("/images/graphics/loading-animation.gif"),
    0% / cover no-repeat;
  background-size: cover;
  display: inline-block;
  height: 200px;
  width: 200px;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 2500px;
  width: 2500px; 
  color: var(--black);
  font-size: var(--desktop-body);
  font-family: var(--heading-font);
  border-radius: 15px;
  background: rgba(217, 217, 217, 0.25);
  box-shadow: 0px 3px 8.6px -1px rgba(20, 20, 20, 0.12),
    0px 0px 1px 0px rgba(20, 20, 20, 0.08);
  backdrop-filter: blur(12px);
}

.wrapper {
  display: flex;
  background-color: var(--white);
  border-radius: 30px;
  padding: 10px;
  margin-top: 5rem;
}

.wrapper_5 {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 30px;
  padding: 10px;
  margin-top: 5rem;
  height: 85vh;
}

/** Input Styles **/

.left_column {
  display: flex;
  flex-direction: column;
  margin: 8em 5em 0 6em;
  gap: 2em;
}

.input_container {
  display: flex;
  flex-direction: column;
}

.date_picker_container {
  position: relative;
  display: inline-block;
}

.react_datepicker_wrapper {
  position: absolute;
  z-index: 1;
}

.react_datepicker {
  display: block;
}

.label_text {
  color: var(--dark-blue);
  font-family: "Apfel Grotezk";
  font-size: var(--desktop-body-20pt);
  padding: 25px 0 17px 16px;
  background-color: none;
}

.label_text_step4 {
  color: var(--dark-blue);
  font-family: "Apfel Grotezk";
  font-size: var(--desktop-body-20pt);
  padding: 25px 0 17px 16px;
  background-color: none;
}

.label_text_2{
  color: var(--dark-blue);
  font-family: "Apfel Grotezk";
  font-size: var(--desktop-body-20pt);
  font-style: normal;
  font-weight: 400;
  padding: 25px 85px 17px 16px;
  background-color: none;
}

.label_headername{
  color: var(--dark-blue);
  font-family: "Gilroy";
  font-size: var(--desktop-body-20pt);
  font-style: normal;
  font-weight: 400;
  background-color: none;
}

.budget_input {
  color: var(--dark-blue);
  font-family: "Apfel Grotezk";
  font-size: var(--desktop-body-20pt);
  padding: 25px 0px 17px 16px;
  border-bottom: 1px solid var(--dark-blue);
}

.budget_input input {
  border: none;
  outline: none;
  background: none;
}

.placeholder_text {
  color: rgba(30, 30, 30, 1);
  font-family: "Apfel Grotezk";
  font-size: var(--desktop-body-16pt);
  font-style: normal;
  font-weight: 100;
  background-color: none;
  width: 28em;
  padding: 25px 85px 17px 16px;
  border-bottom: 1px solid var(--dark-blue);
  background: url("/images/arrow-down.svg") no-repeat right;
  background-size: 16px;
}

.getaway_placeholder_text {
  font-family: "Apfel Grotezk";
  font-size: var(--desktop-body-16pt);
  font-weight: 100;
  border: none;
  outline: none;
  background: none;
  width: 32em;
  padding: 10px 5px 0px 16px;
  border-bottom: 1px solid var(--dark-blue);
  background-size: 16px;
  margin-top: 1em;
}

.num_travelers_container {
  display: flex;
  flex-direction: row;
  background-color: none;
  padding: 25px 0px 17px 16px;
  border-bottom: 1px solid var(--dark-blue);
  justify-content: space-between;
}

.increment_decrement {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.increment_button {
  display: flex;
  flex-direction: row;
}

.input_container_date {
  display: flex;
  flex-direction: column;
  align-content: center;
  /* height: 100%; */
  gap: 2em;
  width: 20em;
}

.budget_form_container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.without_budget {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: var(--dark-blue);
  font-family: "Apfel Grotezk";
  font-size: var(--desktop-body-20pt);
  font-style: normal;
  font-weight: 400;
  border-radius: 10px;
  border: 2px solid var(--Blue, #413eea);
  padding: 1em;
}

.with_budget {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.graphic {
  position: 'relative';
  display: 'flex';
  flex-direction: column;
  align-items: center;
}

/** Button Styles **/

.button_container {
  display: flex;
  margin-top: -10rem;
  flex-direction: row;
  padding-right: 8em;
  padding-top: 4em;
  align-items: baseline;
  justify-content: space-between;
}

.button_container_5 {
  display: flex;
  justify-content: flex-end;
  margin-top: -46em;
  margin-right: 1rem;
}

.generated_itinerary {
  margin-top: 1rem;
  max-width: 80%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--black);
}
.button1 {
  width: 140px;
  height: 22px;
  color: var(--blue);
  border: none;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  margin-left: 5em;
  font-size: 16px;
}

.button2 {
  width: 357px;
  height: 72px;
  border-radius: 50px;
  background-color: var(--blue);
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.button2:hover {
  background-color: var(--black);
}

.button1_mobile {
  display: none;
}

/** Header Styles **/
.banner {
  background: url("/images/banner.png"), 0% / cover no-repeat;
  background-size: cover;
  display: inline-block;
  width: 1450px;
  height: 221px;
}

.header_container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.progress_container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.steps_title {
  color: var(--dark-blue);
  font-size: var(--desktop-heading2);
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
}

.steps_title2{
  color: var(--dark-blue);
  font-size: var(--desktop-heading2);
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  display: none;
}

.form_title {
  color: var(--dark-blue);
  font-size: var(--desktop-heading3);
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
}

.progress_title {
  color: var(--dark-blue);
  font-size: var(--desktop-heading3);
  font-family: Apfel Grotesk;
  font-style: normal;
  font-weight: 400;
}

.graphic2{
  display: none;
}

/* responsiveness */

/* tablet 820px */

@media screen and (max-width: 820px){

  .wrapper{
    justify-content: center;
    flex-direction: column-reverse;
  }

  .graphic{
    display: none;
  }

  .graphic2{
    display: block;
  }

  .location_graphic{
    height: 433px;
    width: 100vw;
  }

  .progress_container{
    gap: 1em;
  }

  .progress_title{
    font-size: var(--tablet-heading3);
  }

  .steps_title{
    display: none;
  }
  
  .steps_title2{
    font-size: var(--tablet-heading1);
    display: block;
  }

  .label_headername{
    font-size: var(--tablet-heading3);
    font-weight: bold;
  }

  .placeholder_text{
    font-size: var(--tablet-body-17pt);
  }

  .left_column{
    gap: 2em;
    margin-top: 2em;
    padding-left: 4em;
  }
  
  .page_content{
    margin-left: 2rem;
    margin-top: 3rem;
    height: 80rem;
  }

  .label_text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .label_text_2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .button_container{
    padding-top: 20em;
    padding-right: 0em;
    justify-content: center;
  }

  .button1{
    display: none;
  }

  .input_container_date{
    flex-direction: row;
  }

  .budget_input{
    font-size: var(--tablet-body-19pt);
  }
}

/* Mobile 390px */

@media screen and (max-width: 390px) {
  .main {
    background: none;
    width: 100%;
    height: 100%;
    background-color: var(--white);
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    background-color: none;
    border-radius: 0px;
    padding: 0px;
    margin-top: 0rem;
  }

  .location_graphic {
    display: none;
  }

  .placeholder_text {
    width: 15em;
  }

  .button2 {
    width: 300px;
    height: 72px;
    font-size: 17px;
    position: relative;
    margin: 4em 1em 1.8em 0;
  }

  .button_container {
    display: flex;
    flex-direction: row;
    padding-right: 0em;
    padding-top: 0em;
  }

  .left_column {
    gap: 2em;
    padding-left: 0em;
    margin: 2em 0em 0em 0em;
  }

  .steps_title {
    font-size: var(--mobile-heading2);
    font-family: "Gilroy";
  }

  .progress_title {
    font-size: var(--mobile-heading3);
  }

  .label_text {
    font-size: var(--tablet-heading3);
    padding: 20px 0 10px 15px;
  }

  .mobile_progress_title {
    display: flex;
    justify-content: space-between;
  }

  .button1_mobile {
    display: block;
    color: var(--dark-blue);
    cursor: pointer;
  }

  .button1_container {
    display: none;
  }

  .input_container {
    margin-bottom: 8.9em;
  }

  .input_container_date {
    display: flex;
    flex-direction: column;
    margin-bottom: 10em;
  }

  .with_budget {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .form_title {
    font-size: var(--mobile-heading3);
  }

  .budget_input {
    font-size: var(--mobile-body-14pt);
    padding: 10px 0px 17px 16px;
    border-bottom: 1px solid var(--dark-blue);
  }

  .without_budget {
    font-size: var(--mobile-body-14pt);
  }

  .budget_form_container {
    margin-bottom: 9em;
    gap: 1.5em;
  }

  .label_text_step4 {
    font-size: var(--mobile-body-16pt);
    padding: 25px 0 0px 0px;
    background-color: none;
    margin-bottom: 10em;
  }

  .label_text textarea {
    width: 270px;
    height: 100px;
  }

  .location_graphic_tablet {
    display: none;
  }

  .left_column {
    width: 300px;
  }

  .label_text_2 {
    display: flex;
    flex-direction: column;
  }

  .page_content {
    height: 49.7em;
  }

  .getaway_placeholder_text {
    width: 280px;
  }

  .generated_itinerary {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-top: 2em;
  }

  .generated_itinerary .itinerary_sections_grid {
    max-width: 100%;
  }

  .generated_itinerary .card {
    margin-bottom: 1em;
    text-align: center;
  }

  .banner {
    display: none;
  }
}